body{
    margin-left: 250px;
    text-align: center;
    width: 430px
}
td,tr{

    border:1px solid peru;
    padding: 10px 55px;
    box-shadow:1px 1px peru;

}
.edit{
    padding: 5px;
    margin:5px;
    box-shadow: 0.5px 1px peru
    
}


